@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Kaku+Gothic+New&display=swap');

.menu ul {
    list-style: none;
    display: inline-flex;
    gap: 15rem;
    background: rgba(34, 38, 54, 0.85);
    width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: "Roboto";
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

#foto_inicio {
    width: 10%;
    border-radius: 100%;
    align-items: center;
}

h1 {
    font-family: "Rubik";
}

h2 {
    font-family: "Karla";
}

p {
    font-family: "Zen Kaku Gothic New";
}

.Proyectos {
    width: 50%;
}

#proyectos-link {
    font-family: "Zen Kaku Gothic New"
}



main {
    max-width: 900px;
    margin: 3.5rem auto 2rem auto;
    padding: 2rem;
    background: rgba(89, 98, 131, 0.85);
    border-radius: 1.2rem;
    box-shadow: 0 4px 32px rgba(0,0,0,0.18);
}

#video {
    position: fixed;
    top: 100%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center center;
    background: #000;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}